<div>&nbsp;</div> <div>&nbsp;</div>
<h1 class="text-center">Poll Vote</h1>
<div>&nbsp;</div>    <div>&nbsp;</div>    <div>&nbsp;</div>
<h1 class="text-center">Question : </h1>
  <h2 class="text-center">What is this question ?</h2>

<div>&nbsp;</div>    <div>&nbsp;</div>    <div>&nbsp;</div>

<div class="container">
<div class="text-center">
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-success btn-lg">YES</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-danger btn-lg">NO</button>
    </div>
  </div>
</div>
</div>
